name: Continuous Integration

on:
  push:
  pull_request:
    branches:
    - master

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]

    steps:

    - name: Set up Go 1.15
      uses: actions/setup-go@v1
      with:
        go-version: 1.15
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Run tests
      run: go test -race ./...

    - name: Check go vet
      run: go vet ./...

    - name: Check go fmt
      run: diff -u <(echo -n) <(gofmt -s -d .)
